---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

PointerAlignment: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
Cpp11BracedListStyle: true

BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
IncludeBlocks: Regroup
InsertNewlineAtEOF: true
SortIncludes: CaseInsensitive
---
