BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120

AllowShortFunctionsOnASingleLine: "None"
AllowShortIfStatementsOnASingleLine: "Never"
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: "Never"
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

PointerAlignment: Right
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: AcrossEmptyLines
ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
Cpp11BracedListStyle: true

BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
IncludeBlocks: Regroup
InsertNewlineAtEOF: true
SortIncludes: CaseInsensitive
